# On ne garde le chiffrement QUE pour les secrets locaux
.env filter=git-crypt diff=git-crypt
git_crypt_portfolio.key filter=git-crypt diff=git-crypt

# Le reste du code doit être lisible pour Vercel
*.php !filter !diff
api/**/*.php !filter !diff
includes/**/*.php !filter !diff
